*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

main {
    width: 92%;
    margin: 4rem auto;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

button {
    height: 52px;
    width: 52px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 10px;
}

img {
    height: 100%;
    width: auto;
}

.label {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    opacity: 0.8;
}

.label-text {
    text-transform: uppercase;
    padding: 0.5rem;
}

.label-date {
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.prev-date, .next-date {
    font-size: 1.5em;
    font-weight: 100;
    opacity: 0.1;
    cursor: pointer;
}

.prev-date:hover, .next-date:hover {
    opacity: 0.25;
}

.prev-date:active, .next-date:active {
    opacity: 0.5;
}

@media print {
    .prev-date, .next-date, .toolbar {
        display: none;
    }

    @page {
        size: landscape;
        margin: 0;
    }
}